{%extends 'Bases/base.html'%}

{%block title%}
{{super()}}
Logs
{%endblock%}



{%block content%}
<h3>LOGS:</h3>
<table class="table-bordered bg-light table-hover">
  <thead>
    <tr>
      <th>LOG ID</th>
      <th>USER ID</th>
      <th>ACCION</th>
      <th>TABLA</th>
      <th>FECHA</th>
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row[0] }}</td>
      <td>{{ row[1] }}</td>
      <td>{{ row[2] }}</td>
      <td>{{ row[3] }}</td>
      <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}
